In [5]:
import pandas as pd
import numpy as np

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [7]:
ratings = pd.read_csv('u.data', sep='\t', names=['userId', 'movieId', 'rating', 'timestamp'])

In [8]:
ratings.head()

   userId  movieId  rating  timestamp
0     196      242       3  881250949
1     186      302       3  891717742
2      22      377       1  878887116
3     244       51       2  880606923
4     166      346       1  886397596

In [9]:
movies = pd.read_csv('u.item', sep = "|", encoding='latin-1', usecols=[0, 1], names=['movieId', 'title'])

In [10]:
movies.head()

   movieId              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [11]:
df = pd.merge(ratings,movies,on="movieId")

In [26]:
df.head()

df.groupby("userId")["movieId"].count().describe()

count    943.000000
mean     106.044539
std      100.931743
min       20.000000
25%       33.000000
50%       65.000000
75%      148.000000
max      737.000000
Name: movieId, dtype: float64

In [13]:
from surprise import SVD, Dataset, Reader
from surprise.model_selection import train_test_split
from surprise import accuracy



#load the dataset
reader = Reader(rating_scale=(0.5,5.0))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [15]:
from surprise import SVD, Dataset, Reader
from surprise.model_selection import GridSearchCV
from surprise import accuracy

# Load your data
reader = Reader(rating_scale=(0.5, 5.0))
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

# Define hyperparameter grid (keep it simple!)
param_grid = {
    'n_factors': [50, 100, 150],
    'n_epochs': [20, 30],
    'lr_all': [0.002, 0.005, 0.01],
    'reg_all': [0.02, 0.1]
}

# One line to find best parameters!
gs = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=3)
gs.fit(data)

# Get results
print(f"Best RMSE: {gs.best_score['rmse']:.4f}")
print(f"Best params: {gs.best_params['rmse']}")

# Use the best model
best_svd = gs.best_estimator['rmse']

Best RMSE: 0.9208
Best params: {'n_factors': 150, 'n_epochs': 30, 'lr_all': 0.01, 'reg_all': 0.1}

In [28]:
#using the best model parameters to predict
import random

trainset = data.build_full_trainset()

#train 
best_svd.fit(trainset)

user_id = input("Enter the user ID: ")
user_id = int(user_id)

# First, check if the user ID exists in training data
if user_id not in trainset._raw2inner_id_users:
    print("This user ID does not exist in training data.")
else:
    # Convert raw user ID to internal Surprise format
    inner_uid = trainset.to_inner_uid(user_id)

    # Movies the user has already rated
    seen_iids = set(iid for (iid, _) in trainset.ur[inner_uid])

    # All movie IDs (internal)
    all_iids = set(trainset.all_items())

    # Movies the user hasn't seen
    unseen_iids = all_iids - seen_iids

    # Predict ratings only for unseen movies
    predictions = [
        best_svd.predict(user_id, trainset.to_raw_iid(iid)) for iid in unseen_iids
    ]

     # Debug: print sample predictions
    for p in predictions[:5]:
        print(f"Movie {p.iid}, Predicted Rating: {round(p.est, 2)}")

    # Sort by predicted rating
    top_n_predictions = sorted(predictions, key=lambda x: x.est, reverse=True)[:50]

    top_10_sampled = random.sample(top_n_predictions,10)
    

    # Movie titles dictionary
    movie_titles = dict(zip(movies['movieId'], movies['title']))

    # Display top recommendations
    print(f"\nTop 10 recommendations for user {user_id}:\n")
    for prediction in top_10_sampled:
        movie_title = movie_titles.get(int(prediction.iid), "unknown title")
        print(f"{movie_title}: {round(prediction.est, 2)}")

Enter the user ID:  196

Movie 302, Predicted Rating: 3.93
Movie 377, Predicted Rating: 2.66
Movie 51, Predicted Rating: 3.43
Movie 346, Predicted Rating: 3.54
Movie 474, Predicted Rating: 4.07

Top 10 recommendations for user 196:

Shawshank Redemption, The (1994): 4.53
Sweet Hereafter, The (1997): 4.15
Manchurian Candidate, The (1962): 4.26
Apostle, The (1997): 4.2
A Chef in Love (1996): 4.19
North by Northwest (1959): 4.36
One Flew Over the Cuckoo's Nest (1975): 4.27
Usual Suspects, The (1995): 4.21
Vertigo (1958): 4.16
To Kill a Mockingbird (1962): 4.31